* {
  @apply transition-colors duration-500;
}

.root {
  @apply w-screen h-screen;

  background: var(--md-sys-color-surface);
}

.header {
  @apply p-4 text-center;

  color: var(--md-sys-color-on-primary-container);
  background: var(--md-sys-color-primary-container);

  > button {
    @apply rounded-2xl text-sm;
    @apply ml-10 px-3 py-1;

    color: var(--md-sys-color-on-primary);
    background: var(--md-sys-color-primary);
  }
}

.main {
  @apply flex flex-col justify-center items-center;
  @apply text-center text-sm;

  width: 100%;
  height: calc(100vh - 60px);

  > h2 {
    @apply my-10 text-2xl;

    color: var(--md-sys-color-primary);
  }

  > section {
    @apply flex;

    > div:first-child {
      @apply w-60 h-40 mr-10;
      @apply rounded-xl shadow-xl;

      background: var(--md-sys-color-on-primary);

      > h5 {
        @apply flex justify-center items-center;
        @apply w-full h-full text-3xl;

        color: var(--md-sys-color-primary);
      }

      > button {
        @apply w-12 h-12 rounded-full mt-10;
        @apply flex justify-center items-center;

        background: var(--md-sys-color-primary);

        > svg {
          color: var(--md-sys-color-on-primary);
        }
      }
    }
  }
}
